* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #5F7161;
    color: #3F4E4F;
    position: relative;
    background-image: url("images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
    font-size: 25px;
    text-shadow: 2px 2px #DFF6FF;
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(218, 234, 241, 0.3);
}

p {
    margin-bottom: 5px;
}

.container {
    padding: 10px 10px 10px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    margin: 20px;
    color: #2C3639;
    font-family: 'Permanent Marker', sans-serif;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 25px;
}

input[type="text"] {
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 0px;
    height: 50px;
    width: 25%;
    font-size: 40px;
    text-align: center;
    border-width: 3px;
    border-color: #748DA6;
}

#errorMessage {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: red;
    margin-bottom: 15px;
}

.show-error-message {
    opacity: 1;
}

.hide-error-message {
    opacity: 0;
}

.box {
    height: 100px;
    width: 50%;
    background-color: #97C4B8;
    margin-bottom: 25px;
}

.toggle {
    display: flex; /* lay things out horizontally */
    align-items: center; /* align things horizontally */
    margin-bottom: 15px;
}

.toggle-text {
    font-size: 18px;
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px); /* move the inner circle 30px horizontally */
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}

.slider {
    margin-bottom: 15px;
}